nav {
  clear: both;
  > ul {
    // scroll-snap-type: x mandatory;
    display: flex;
    overflow-x: scroll;
    > li {
      display: inline-block;
      width: calc(60vw - 21vh);
      height: 5vh;
      font-size: 3vh;
      line-height: 3vh;
      font-weight: 300;
      color: $color-dark-teal;
      list-style-type: none;
      //   scroll-snap-align: center;
    }
  }
}
