.picker-container {
  height: 45vh;
  margin: 0 auto;
  margin-top: 2.5vh;
  margin-bottom: 5vh;
  width: fit-content;
  .picker-canvas {
    height: 45vh;
    max-width: 60vw;
    float: left;
  }
  .bar {
    float: left;
    height: 45vh;
    margin-left: 5vh;
    width: 5vw;
    border-radius: 1vh;
  }
}
.subtitle {
  clear: both;
  color: $color-dark-teal;
  font-size: 3vh;
  line-height: 3vh;
}
// .ColorPicker {
//   display: grid;
//   grid-template-columns: auto auto;
//   grid-template-rows: auto 1fr;
//   grid-column-gap: 5px;
//   align-items: center;
//   justify-content: center;
//   &__artContainer {
//     margin-left: 50px;
//   }
//   &__art {
//     height: 100%;
//     max-width: 100%;
//   }
// }

// .ColorPreview {
//   display: grid;
//   grid-template-rows: 60% 10px;
//   grid-row-gap: 10rem;
//   height: 100%;
//   &__color {
//     &__bar {
//       height: 95%;
//     }
//     &__label {
//       height: 5%;
//     }
//   }

//   &__snippet {
//     height: 100px;
//     width: 100px;
//     align-self: end;
//   }
// }

// .preview {
//   width: 20vw;
//   height: 30vh;
// }
