.gallery {
  width: calc(99vw - 36vh);
  margin: 0 auto;
  white-space: nowrap;
  overflow: scroll;
  scroll-behavior: smooth;
  .page {
    display: inline-block;
    width: calc(99vw - 36vh);
    height: 67.25vh;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    text-align: center;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    .artworks {
      width: calc(60vw + 15vh);
      height: calc(40vw + 10vh);
      margin: 0 auto;
      .artbox {
        cursor: pointer;
        float: left;
        text-align: center;
        background-size: cover;
        background-position: center;
        width: 20vw;
        height: 20vw;
        margin: 2.5vh;
        .prompt-container {
          background-color: rgba(255, 255, 255, 0.8);
          color: $color-dark-teal;
          height: 20vw;
          width: 20vw;
          padding: 2vw;
          position: relative;
          h1 {
            width: 16vw;
            white-space: pre-line;
            font-size: 2.5vw;
            line-height: 2.5vw;
            margin-top: 2vw;
            margin-bottom: 0.25vw;
            font-weight: 300;
          }
          h2 {
            width: 16vw;
            white-space: pre-line;
            font-size: 1.5vw;
            line-height: 1.75vw;
          }
          .prompt-options {
            position: absolute;
            width: 16vw;
            top: 11vw;
            button {
              position: relative;
              margin: 0;
              padding: 0;
              height: 5vw;
              width: 5vw;
              border-radius: 50%;
              border: 1.5px solid $color-dark-teal;
              font-family: "Roboto";
              cursor: pointer;
              svg {
                cursor: pointer;
                line {
                  cursor: pointer;
                }
              }
            }
            #unselect {
              background-color: transparent;
              margin-right: 1vw;
            }
            #select {
              background-color: $color-dark-teal;
            }
          }
        }
      }
    }
  }
}
