.Phone {
  overflow-x: hidden;
  overflow-y: scroll;
  header {
    padding: 10vw;
    padding-top: 10vw;
    padding-bottom: 7.5vw;
    overflow: auto;
    .logo {
      font-size: 8vw;
      line-height: 8vw;
      color: $color-teal;
      text-align: left;
      float: left;
      user-select: none;
      cursor: default;
      p {
        font-weight: 300;
        > strong {
          font-weight: 600;
        }
      }
    }
  }
  .phone-painting {
    width: 100%;
    height: 40vw;
    background-size: cover;
    background-position: center;
  }
  .cloth {
    display: block;
    overflow: auto;
    width: 33vw;
    margin-bottom: 1.5vw;
    position: relative;
    > img {
      display: block;
      width: 13.5vw;
      height: auto;
    }
    > div {
      margin-left: 3.75vw;
      font-size: 4.5vw;
      line-height: 0;
      font-family: "Roboto";
      color: $color-dark-teal;
      font-weight: 300;
      position: absolute;
      left: 13.5vw;
      top: 50%;
    }
  }
  .phone-neutral {
    margin: 10vw;
    float: left;
  }
  .phone-femme {
    margin: 10vw;
    margin-left: 0vw;
    float: left;
    position: relative;
    .ssunhat {
      height: 6vw;
      width: 34.5vw;
      position: absolute;
      left: -1.5vw;
      > img {
        width: 15vw;
      }
      > div {
        margin-left: 5.25vw;
      }
    }
    .sribbon {
      height: 6vw;
      width: 34.5vw;
      position: absolute;
      left: -1.5vw;
      > img {
        width: 15vw;
      }
    }
    .sgarment {
      margin-top: 7.5vw;
    }
  }
}
