.ScreenContainer {
  height: 100vh;
  padding: 5vh;
  overflow: hidden;
  > header {
    > .logo {
      font-size: 3vh;
      line-height: 3vh;
      color: $color-teal;
      text-align: left;
      float: left;
      user-select: none;
      cursor: default;
      p {
        font-weight: 300;
        > strong {
          font-weight: 600;
        }
      }
    }
    button {
      display: block;
      float: right;
      font-size: 3vh;
      line-height: 3vh;
      height: 7.25vh;
      width: 16vh;
      font-weight: 300;
      padding: 2vh;
      padding-bottom: 2.25vh;
      color: $color-teal;
      border: 1.5px $color-teal solid;
      border-radius: 1vh;
      background-color: transparent;
    }
  }
  > footer {
    position: absolute;
    bottom: 5vh;
    width: calc(100% - 35vh);
    button {
      display: block;
      position: relative;
      font-size: 3vh;
      line-height: 3vh;
      height: 7.25vh;
      width: 16vh;
      font-weight: 300;
      padding: 2vh;
      padding-bottom: 2.25vh;
      border-radius: 1vh;
      border: 1.5px $color-teal solid;
    }
    #back {
      color: $color-teal;
      background-color: transparent;
      float: left;
    }
    #next {
      color: white;
      background-color: $color-teal;
      float: right;
    }
  }
}
.screen {
  clear: both;
  width: 100%;
  text-align: center;
  > h1 {
    font-size: 6vh;
    line-height: 6vh;
    color: $color-dark-teal;
    margin: 0;
    padding: 5vh 0 3vh 0;
  }
}
